{% extends "base.html" %}
{% load i18n %}

{% block top_menu %}
    <ul class="nav navbar-nav">
        <li><a class="navbar-button" href="{% url "sds_list" %}">{% trans "MSDS" %}</a></li>
        <li><a class="navbar-button" href="{% url "chemical_list" %}">{% trans "Chemicals" %}</a></li>
        <li><a class="navbar-button" href="{% url "stock_list" %}">{% trans "Chemical Stock" %}</a></li>
        <li class="dropdown">
            <a id="chem_dd1" class="navbar-button" role="button" data-toggle="dropdown" href="#">
                {% trans "More Views" %}
                <span class="caret"></span>
            </a>
            <ul id="chem_menu1" class="dropdown-menu" role="menu" aria-labelledby="chem_dd1">
                <li class="navheading"> {% trans "Chemical Views" %}</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Chemicals" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "supplier_list" %}/?lid=1">{% trans "Suppliers" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "department_list" %}">{% trans "Departments" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "cmr_list" %}">{% trans "CMR" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "archived_chemicals" %}">{% trans "Archive" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "sds_list" %}">{% trans "MSDS" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "approval_list" %}">{% trans "Approval Documents" %}</a></li>
                {% if 'view_she' in perms %}
                <li class="navheading"> {% trans "SHE Views" %}</li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "H-Phrases" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "chemical_missing_sdb" %}">{% trans "Chemicals without SDS" %}</a></li>
                <!--
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Seveso-View Departments" %}</a></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Seveso-View" %}</a></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Seveso-View Listed Chemicals" %}</a></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Checklists" %}</a></li>
                -->
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Tox Oekotox" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "chemical_numbers" %}">{% trans "Chemical Numbers" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "admin:chemicals_chemical_changelist" %}">{% trans "Administration" %}</a></li>
                {% endif %}
                <li class="navheading"> {% trans "Chemical Stock Views" %}</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "stock_list" %}">{% trans "Departments" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "location_list" %}">{% trans "Stock Locations" %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "chemical_stock_list" %}">{% trans "Chemicals" %}</a></li>
                <!--
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{% url "chemical_list" %}">{% trans "Checklists" %}</a></li>
                -->
            </ul>
        </li>
    </ul>
{% endblock %}
{% block base_content %}
    <div id="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type=button" class="close" data-dismiss="alert" aria-lagel="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div id="content">
        {% block chemical_content %}
        {% endblock %}
    </div>
{% endblock %}
