{% extends "chemicals/base.html" %}
{% load i18n chemical_tags %}
{% load render_table from django_tables2 %}

{% block chemical_content %}
    <h1>{{ chemical.name }}</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <table style="width:100%;">
                        <tr>
                            <th>{% trans "Article Number" %}</th>
                            <td>{{ chemical.article }}</td>
                        </tr><tr>
                            <th>{% trans "Registration Number" %}</th>
                            <td>{{ chemical.registration_number }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table style="width:100%;">
                        <tr>
                            <th>{% trans "CAS" %}</th>
                            <td>{{ chemical.cas }}</td>
                        </tr><tr>
                            <th>{% trans "EINECS" %}</th>
                            <td>{{ chemical.einecs }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br><b>{% trans "Comment" %}</b>
            <div class="well well-sm">
                {{ chemical.comment }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.preparation|yesno:" checked," }}> {% trans "Preparation" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.needed|yesno:" checked," }}> {% trans "Always needed" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.components_registered|yesno:" checked," }}> {% trans "Components registered" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.archive|yesno:" checked," }}> {% trans "Archived" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.cmr|yesno:" checked," }}> {% trans "CMR" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.reach_vo|yesno:" checked," }}> {% trans "Listed in Appendix XIV, REACH-VO" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.hazardous|yesno:" checked," }}> {% trans "Hazardous" %}
            </label></div>
            <div class="checkbox"><label>
                <input type="checkbox" disabled{{ chemical.instruction|yesno:" checked," }}> {% trans "Instruction" %}
            </label></div>
        </div>
    </div>
    <p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#classification" data-toggle="tab">{% trans "Classification" %}</a></li>
            <li><a href="#department" data-toggle="tab">{% trans "Department / Supplier" %}</a></li>
            <li><a href="#sds" data-toggle="tab">{% trans "SDS / Document" %}</a></li>
            <li><a href="#reach" data-toggle="tab">REACH</a></li>
            <li><a href="#checklist" data-toggle="tab">{% trans "Checklist" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="classification">
                <br>
                <h3>{% trans "Stoff Richtlinie" %}</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Risk" %}</th><th>{% trans "Info" %}</th></tr>
                            {% for obj in chemical.risk_set.all %}
                            <tr><td>{{ obj.riskindication.name }}</td><td>{{ obj.info }}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "ID" %}</th><th>{% trans "R-Phrase" %}</th></tr>
                            {% for obj in chemical.rphrases.all %}
                            <tr><td>{{ obj.name }}</td><td>{{ obj.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <h3>{% trans "CLP" %}</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Pictogram" %}</th><th>{% trans "Description" %}</th></tr>
                            {% for obj in chemical.pictograms.all %}
                            <tr><td><img src="{{ obj.image.url }}" alt="{{ obj.name }}"></td><td>{{ obj.name }}</td></tr>
                            {% endfor %}
                        </table>
                        <p><b>{% trans "Signal" %}:</b> {{ chemical.signal_set.first.term|show_signal }}</p><br>
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Storage Class" %}</th><th>{% trans "Description" %}</th></tr>
                            {% for obj in chemical.storage_classes.all %}
                            <tr><td>{{ obj.name }}</td><td>{{ obj.description }}</td></tr>
                            {% endfor %}
                        </table>
                        <b>{% trans "WGK" %}:</b> {{ chemical.wgk }}
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "ID" %}</th><th>{% trans "H-Phrase" %}</th></tr>
                            {% for obj in chemical.hphrases.all %}
                            <tr><td>{{ obj.name }}</td><td>{{ obj.description }}</td></tr>
                            {% endfor %}
                        </table>
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "ID" %}</th><th>{% trans "P-Phrase" %}</th></tr>
                            {% for obj in chemical.pphrases.all %}
                            <tr><td>{{ obj.name }}</td><td>{{ obj.description }}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="department">
                <h3>{% trans "Department" %}</h3>
                <table class="table table-striped table-bordered table-condensed">
                    <tr><th>{% trans "Chemical Storage" %}</th><th>{% trans "Department" %}</th><th>{% trans "Supplier" %}</th></tr>
                    {% for obj in locations %}
                    <tr><td><a href="%{{ obj.url }}">{{ obj.name }}</a></td><td>{{ obj.department }}</td><td>{{ obj.supplier }}</td></tr>
                    {% endfor %}
                </table>
                <h3>{% trans "Producer" %}</h3>
                <table class="table table-striped table-bordered table-condensed">
                    <tr><th>{% trans "Name" %}</th><th>{% trans "Address" %}</th><th>{% trans "Country" %}</th><th>{% trans "Phone" %}</th><th>{% trans "E-Mail" %}</th></tr>
                    {% for obj in chemical.producer.all %}
                    <tr><td><a href="{{ obj.get_absolut_url }}">{{ obj.name }}</a></td><td class="with-linebreaks">{{ obj.address }}</td><td>{{ obj.country }}</td>
                        <td>{{ obj.phone }}</td><td>{{ obj.email }}</td></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane fade" id="sds">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>{% trans "Safety Data Sheets" %}</h3>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Published on" %}</th><th>{% trans "Supplier" %}</th><th>{% trans "Language" %}</th><th>{% trans "SDS" %}</th></tr>
                            {% for obj in chemical.safetydatasheet_set.all %}
                            <tr><td>{{ obj.issue_date }}</td><td>{{ obj.supplier.name }}</td><td>{{ obj.country_code|language_name_local }}</td><td>
                                    <a href="{{ obj.file.url }}" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span> {{ obj.file.name }}</a>
                            </td></tr>
                            {% endfor %}
                        </table>

                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Published on" %}</th><th>{% trans "Supplier" %}</th><th>{% trans "Language" %}</th><th>{% trans "eSDS" %}</th></tr>
                            {% for obj in chemical.extendedsafetydatasheet_set.all %}
                            <tr><td>{{ obj.issue_date }}</td><td>{{ obj.supplier.name }}</td><td>{{ obj.country_code|language_name_local }}</td><td>
                                    <a href="{{ obj.file.url }}" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span> {{ obj.file.name }}</a>
                            </td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3>{% trans "Documents" %}</h3>
                    </div>
                    <div class="col-lg-6">
                        <h3>{% trans "General documents" %}</h3>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Created on" %}</th><th>{% trans "Plant" %}</th><th>{% trans "Approval" %}</th></tr>
                            {% for obj in chemical.get_approval_documents.all %}
                            <tr><td>{{ obj.created }}</td><td>{{ obj.plant }}</td><td>
                                    <a href="{{ obj.file.url }}" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span> {{ obj.file.name }}</a>
                            </td></tr>
                            {% endfor %}
                        </table>

                    </div>
                    <div class="col-lg-6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Created on" %}</th><th>{% trans "Info" %}</th></tr>
                            {% for obj in chemical.get_info_documents.all %}
                            <tr><td>{{ obj.created }}</td><td>
                                    <a href="{{ obj.file.url }}" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span> {{ obj.file.name }}</a>
                            </td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="reach">
                <br>
                <div class="row">
                    <div class="col-lg-9">
                        <p><b>{% trans "Registration Number" %}:</b> {{ chemical.registration_number }}</p>
                        <b>{% trans "Info" %}</b>
                        <div class="well well-sm">
                            {{ chemical.reachinformation_set.first.description }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <table class="table table-striped table-bordered table-condensed">
                            <tr><th>{% trans "Language" %}</th><th>{% trans "Document" %}</th></tr>
                            {% for obj in chemical.reachdocument_set.all %}
                            <tr><td>{{ obj.country_code|language_name_local }}</td><td><a type="button" class="btn btn-warning btn-sm" href="{{ obj.file.url }}" target="_blank">
                                        <span class="glyphicon glyphicon-file"></span> {{ obj.file.extension|upper }}</a>
                            </td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="checklist">
            </div>
        </div>
    </p>
{% endblock %}
