{% load i18n %}
<p class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-sm">
        <a href="?lid=1" type="button" class="btn {{ letter.1|yesno:"btn-primary disabled,btn-default" }}">A</a>
        <a href="?lid=2" type="button" class="btn {{ letter.2|yesno:"btn-primary disabled,btn-default" }}">B</a>
        <a href="?lid=3" type="button" class="btn {{ letter.3|yesno:"btn-primary disabled,btn-default" }}">C</a>
        <a href="?lid=4" type="button" class="btn {{ letter.4|yesno:"btn-primary disabled,btn-default" }}">D</a>
        <a href="?lid=5" type="button" class="btn {{ letter.5|yesno:"btn-primary disabled,btn-default" }}">E</a>
        <a href="?lid=6" type="button" class="btn {{ letter.6|yesno:"btn-primary disabled,btn-default" }}">F</a>
        <a href="?lid=7" type="button" class="btn {{ letter.7|yesno:"btn-primary disabled,btn-default" }}">G</a>
        <a href="?lid=8" type="button" class="btn {{ letter.8|yesno:"btn-primary disabled,btn-default" }}">H</a>
        <a href="?lid=9" type="button" class="btn {{ letter.9|yesno:"btn-primary disabled,btn-default" }}">I</a>
        <a href="?lid=10" type="button" class="btn {{ letter.10|yesno:"btn-primary disabled,btn-default" }}">J</a>
        <a href="?lid=11" type="button" class="btn {{ letter.11|yesno:"btn-primary disabled,btn-default" }}">K</a>
        <a href="?lid=12" type="button" class="btn {{ letter.12|yesno:"btn-primary disabled,btn-default" }}">L</a>
        <a href="?lid=13" type="button" class="btn {{ letter.13|yesno:"btn-primary disabled,btn-default" }}">M</a>
        <a href="?lid=14" type="button" class="btn {{ letter.14|yesno:"btn-primary disabled,btn-default" }}">N</a>
        <a href="?lid=15" type="button" class="btn {{ letter.15|yesno:"btn-primary disabled,btn-default" }}">O</a>
        <a href="?lid=16" type="button" class="btn {{ letter.16|yesno:"btn-primary disabled,btn-default" }}">P</a>
        <a href="?lid=17" type="button" class="btn {{ letter.17|yesno:"btn-primary disabled,btn-default" }}">Q</a>
        <a href="?lid=18" type="button" class="btn {{ letter.18|yesno:"btn-primary disabled,btn-default" }}">R</a>
        <a href="?lid=19" type="button" class="btn {{ letter.19|yesno:"btn-primary disabled,btn-default" }}">S</a>
        <a href="?lid=10" type="button" class="btn {{ letter.20|yesno:"btn-primary disabled,btn-default" }}">T</a>
        <a href="?lid=21" type="button" class="btn {{ letter.21|yesno:"btn-primary disabled,btn-default" }}">U</a>
        <a href="?lid=22" type="button" class="btn {{ letter.22|yesno:"btn-primary disabled,btn-default" }}">V</a>
        <a href="?lid=23" type="button" class="btn {{ letter.23|yesno:"btn-primary disabled,btn-default" }}">W</a>
        <a href="?lid=24" type="button" class="btn {{ letter.24|yesno:"btn-primary disabled,btn-default" }}">X</a>
        <a href="?lid=25" type="button" class="btn {{ letter.25|yesno:"btn-primary disabled,btn-default" }}">Y</a>
        <a href="?lid=26" type="button" class="btn {{ letter.26|yesno:"btn-primary disabled,btn-default" }}">Z</a>
    </div>
    <div class="btn-group btn-group-sm">
        <a href="?lid=30" type="button" class="btn {{ letter.30|yesno:"btn-primary disabled,btn-default" }}">0</a>
        <a href="?lid=31" type="button" class="btn {{ letter.31|yesno:"btn-primary disabled,btn-default" }}">1</a>
        <a href="?lid=32" type="button" class="btn {{ letter.32|yesno:"btn-primary disabled,btn-default" }}">2</a>
        <a href="?lid=33" type="button" class="btn {{ letter.33|yesno:"btn-primary disabled,btn-default" }}">3</a>
        <a href="?lid=34" type="button" class="btn {{ letter.34|yesno:"btn-primary disabled,btn-default" }}">4</a>
        <a href="?lid=35" type="button" class="btn {{ letter.35|yesno:"btn-primary disabled,btn-default" }}">5</a>
        <a href="?lid=36" type="button" class="btn {{ letter.36|yesno:"btn-primary disabled,btn-default" }}">6</a>
        <a href="?lid=37" type="button" class="btn {{ letter.37|yesno:"btn-primary disabled,btn-default" }}">7</a>
        <a href="?lid=38" type="button" class="btn {{ letter.38|yesno:"btn-primary disabled,btn-default" }}">8</a>
        <a href="?lid=39" type="button" class="btn {{ letter.39|yesno:"btn-primary disabled,btn-default" }}">9</a>
    </div>
    <div class="btn-group btn-group-sm">
        <a href="?lid=27" type="button" class="btn {{ letter.27|yesno:"btn-primary disabled,btn-default" }}">(</a>
        <a href="?lid=28" type="button" class="btn {{ letter.28|yesno:"btn-primary disabled,btn-default" }}">[</a>
        <a href="?" type="button" class="btn {{ letter.0|yesno:"btn-primary disabled,btn-default" }}">{% trans "all" %}</a>
    </div>
</p>
<!-- vim:syntax=htmldjango
-->
