{% load i18n chemical_tags %}
<ul class="nav nav-pills hidden-print">
    {% for plant, location_list in locations.items|sort_list %}
    <li class="dropdown">
        <a data-toggle="dropdown" role="button" href="#" id="plant_dd_{{ plant }}" >
            {{ plant }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="items">
            {% for location in location_list %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1"
                    href="{% url 'stock_location_list' location.id %}">
                    {{ location.department.name }} -
                    {{ location.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<!-- vim:syntax=htmldjango
-->
