{% extends "chemicals/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block chemical_content %}
    <h1>{{ supplier.name }}</h1>
    <div class="col-lg-3 with-linebreaks">{{ supplier.address }}<br>{{ supplier.country }}</div>
    <div class="col-lg-3">
        <table>
            <tr>
                <th style="width:80px;">{% trans "Phone" %}</th>
                <td>{{ supplier.phone }}</td>
            </tr><tr>
                <th>{% trans "Fax" %}</th>
                <td>{{ supplier.fax|default_if_none:"" }}</td>
            </tr><tr>
                <th>{% trans "Email" %}</th>
                <td>{{ supplier.email|default_if_none:"" }}</td>
            </tr><tr>
                <th>{% trans "Web" %}</th>
                <td>{{ supplier.web|default_if_none:"" }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-6">
        <b>{% trans "Info" %}</b><br>
        <div class="well well-sm with-linebreaks">
            {{ supplier.info|default_if_none:"" }}
        </div>
    </div>
{% endblock %}
