{% extends "chemicals/base.html" %}
{% load i18n chemical_tags %}
{% load render_table from django_tables2 %}

{% block chemical_content %}
    <div class="row">
        <h1>{{ tableheading }}
            {% if tablesubheading %}
            <small>{{ tablesubheading }}</small>
            {% endif %}
        </h1>
        <div class="filter-panel">
        {% if show_filter.items %}{% max_items %}{% endif %}
        {% if show_filter.department %}{% department_filter plants target_name %}{% endif %}
        {% if show_filter.location %}{% location_filter %}{% endif %}
        {% if show_filter.letter %}{% letter_filter letters %}{% endif %}
        </div>
        {% block table_content %}
        <div class="table-responsive">
            {% render_table table "chemicals/table.html" %}
        </div>
        {% endblock %}
    </div>
{% endblock %}
