/*******************************
 * Content
 *******************************/
#content {margin-bottom:50px; min-height:500px; font-size:14px !important;}
#content div.filter-panel {margin:5px 5px 15px 5px;}
#content object {padding:0; margin:0 10px 10px 0;}
#content span.file img {width:12px; height:12px;}
#content table.videos {float:none; margin-bottom:50px;}
#content table.videos tr td, #content table.videos tr th {padding: 10px 50px 10px 0;}
#content .extended {border-top:1px solid #A8B4C1;}
#content table td hr {margin-top:3px; margin-bottom:3px;}
#content table thead th.orderable > a {
    background: url(../img/arrow-inactive-up.png) right center no-repeat;
    padding-right: 20px;
}
#content table thead th.orderable.asc > a {
    background-image: url(../img/arrow-active-up.png);
}
#content table thead th.orderable.desc > a {
    background-image: url(../img/arrow-active-down.png);
}
#content table td.volume {white-space:nowrap;}
#content table#stocktable label {display:none;}
#content table#stocktable div.form-group {margin-bottom:0;}
#content table#stocktable td.actions {text-align:center; vertical-align:middle}
#content .form-template {display:none;}
