{% load sekizai_tags i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="description" content="KRONOS - SHE">
    <meta name="author" content="Lutz Moppert">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRONOS - SHE</title>
    <link rel="shortcut icon" type="image/ico" href="{% static "chemicals/img/favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chemicals/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "chemicals/css/base.css" %}">
    {% block extra_head %}{% endblock %}
    {% render_block "css" %}
</head>
<body>
    <nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img width="75%" height="75%" src="{% static "chemicals/img/kronoslogo.png" %}">
                    {% block app_name %}{% endblock %}
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                {% block top_menu %}{% endblock %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="lang_dd" href="#" class="navbar-button" role="button" data-toggle="dropdown">
                            {% trans "Language" %}
                            <span class="caret"></span>
                        </a>
                        <ul id="lang_menu" class="dropdown-menu" role="menu" aria-labelledby="lang_dd">
                            {% for lang in LANGUAGES %}
                            <li role="presentation">
                            <a role="menuitem" href="/{{ lang.0}}{{ request.path|slice:'3:' }}">
                                    <img class="flag" src="{% static 'chemicals/img/flag-' %}{{ lang.0 }}.png" alt="{{ lang.0 }}">
                                    {{ lang.1 }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main">
        <div class="container">
            {% block base_content %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="col-lg-1" id="footerlogo">
                <img src="{% static "chemicals/img/footerlogo.png" %}">
            </div>
            <div class="col-lg-11" id="footercontent">
                {% block footer_content %}
                <address>
                    © {% now "Y" %} KRONOS Worldwide, Inc. | 5430 LBJ Freeway, Suite 1700 | Dallas, TX, 75240 | United States<br>
                    Phone: (972) 233-1700 | Fax: (972) 448-1445 | <a href="mailto:kronos.marketing@kronosww.com">kronos.marketing@kronosww.com</a>
                </address>
                {% endblock %}
            </div>
        </div>
    </div>
    {% render_block "js" %}
    <script type="text/javascript" src="{% static "chemicals/js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "chemicals/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "chemicals/js/respond.min.js" %}"></script>
</body>
</html>
